<html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
        <title>Welcome to zoeChat</title>
  <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="plugins/materialize/css/materialize.min.css"  media="screen"/>
  <!-- dataTables -->
        <link href="plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="plugins/datatables/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--Template style-->
        <link href="css/style.css" rel="stylesheet">  
 </head>
 <body ng-app="app" ng-controller="maincontroller">
  <!--here angular view is injected-->
    <div ui-view>     
    </div>
        <script src = "javascripts/Angular_dependency/angular.min.js"></script>   
        <script src = "javascripts/Angular_dependency/angular-ui-router.min.js"></script>
        <script src = "javascripts/Angular/main.js"></script>
        <script src = "javascripts/Angular/controller.js"></script>
        <script src = "javascripts/Angular/service.js"></script>
        <script type= "text/javascript" src="jquery/jquery.min.js"></script>
        
        <script type= "text/javascript" src="materialize/js/materialize.min.js"></script>

        <script type= "text/javascript" src="js/app.js"></script>
        <script src = "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
         <script>
         $(document).ready(function () {
            $('#datatable').dataTable();
           });
        </script>

 </body>
</html>