
<html ng-app = 'app'>
  <head>
              <script src = "https://code.angularjs.org/1.2.16/angular.min.js"></script>
              <script src = "javascripts/controller.js"></script>
              <script src = "javascripts/service.js"></script>
              <script src = "javascripts/main.js"></script>
   </head>
   <body ng-controller = "maincontroller">
        <h3>{{user.length}}<h3>
             <div ng-repeat = "todo in user">
                <h4>Name:{{todo.name}}</h4>
                <h4>Password:{{todo.password}}</h4>
                <h4>Email:  {{todo.email}}</h4>
                <h4>Mobile: {{todo.mobile}}</h4>
             </div>
    Name:   <input type  = "text"     ng-model = "formdata.name"><br/>
    password:<input type = "text"     ng-model = "formdata.password"><br/>
    Email: <input type   = "text"     ng-model = "formdata.email"><br/>
    Mobile:<input type  = "text"      ng-model = "formdata.mobile"><br/>
            <button type = "submit"   ng-click = "createTodo()">create</button>
                 <p>just and index page==>meant for registration</h1>
    </body>
</html>
