<html ng-app = 'app'>
  <head>
              <script src = "https://code.angularjs.org/1.2.16/angular.min.js"></script>
              <script src = "javascripts/controller.js"></script>
              <script src = "javascripts/service.js"></script>
              <script src = "javascripts/main.js"></script>
   </head>
   <body ng-controller = "maincontroller">
<h3>just an login page kinldy enter your email and password</h3>
Email:      <input type = "text"    ng-model    =  "formdata.email"/><br>
password:   <input type = "text"    ng-model    =  "formdata.password"/> <br>
<button type  = "submit" ng-click = "loginUser()">Login</button>
</body>
</html>
