<html ng-app = 'app'>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
        <title>Welcome</title>
  <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="plugins/materialize/css/materialize.min.css"  media="screen"/>
  <!-- dataTables -->
        <link href="plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="plugins/datatables/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--Template style-->
        <link href="css/style.css" rel="stylesheet">
 </head>
<body ng-controller = "maincontroller">
 <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\Main content Start\\\\\\\\\\\\\\\\\\\\\\\-->
     <main class="main-content">
         <div class="page-content">
             <div class="row margin-b-0">
                 <div class="col s12">
                     <div class="card">
                         <div class="card-content">
                             <h3 class="card-title">Users</h3>
                                <table id="datatable" class="bordered dt-responsive nowrap">
                                         <thead>
                                             <tr>
                                                 <th>S.No</th>
                                                 <th>User name</th>
                                                 <th>Email</th>
                                                 <th>Contact</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                             <tr ng-repeat = "todo in user">
                                                 <td>{{$index + 1}}</td>
                                                 <td>{{todo.name}}</td>
                                                 <td>{{todo.email}}</td>
                                                 <td>{{todo.mobile}}</td>
                                                 <td>
      <a class="waves-effect waves-light" href="#modal_edit"><i class="material-icons">edit</i></a>
      <a class="waves-effect waves-light red-text" href="#modal_delete"><i class="material-icons">delete</i></a>
                 </td>
                </tr>
              </tbody>
            </table>
        <div id="modal_edit" class="modal">
              <div class="modal-content">
                                <h4>Edit Details</h4>
                          <div class="row margin-b-0 margin-t-20">
                                    <form class="col s12">
                                          <div class="row">
                                              <div class="input-field col s12">
                                                  <input id="" type="text" class="validate" placeholder="" value="Tiger Nixon">
                                                  <label for="" class="active">User Name</label>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="input-field col s12">
                                                  <input id="" type="email" class="validate" placeholder="" value="tiger@gmail.com">
                                                  <label for="" class="active">Email</label>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="input-field col s12">
                                                      <select>
                                                          <option value="" disabled>Choose your option</option>
                                                          <option value="1" selected>Facebook</option>
                                                          <option value="2">Google Plus</option>
                                                          <option value="3">Twitter</option>
                                                      </select>
                                                      <label>Login Type</label>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="input-field col s12">
                                                  <input id="" type="text" class="validate" placeholder="" value="23">
                                                  <label for="" class="active">No of Purchases</label>
                                              </div>
                                          </div>

                                      </form>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#!" class="left modal-action modal-close waves-effect red btn">cancel</a>
                                    <a href="#!" class="right modal-action green waves-effect btn">save</a>
                                  </div>
                              </div>
<!-- the scripts are loaded here angular dependencies-->
<script src = "https://code.angularjs.org/1.2.16/angular.min.js"></script>
<script src = "javascripts/Angular/controller.js"></script>
<script src = "javascripts/Angular/service.js"></script>
<script src = "javascripts/Angular/main.js"></script>
<!--angular dependencies ended  -->
<!-- jquery dependencies for the forms validataion and dynamic changing contents -->
        <script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="plugins/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
             <!-- Datatables-->
        <script src="plugins/datatables/js/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/js/dataTables.responsive.min.js"></script>
<!--data table plugins is used for  filter the table-->
        <script>
            $(document).ready(function () {
                $('#datatable').dataTable();
            });
        </script>
  </body>
  </html>
