<html ng-app = 'app'>
<head>
<!-- dependecies for styles like bootstarp -->
</head>
<body ng-controller = "maincontroller">
<h3> used to display a details of the particular users </h3>
            <h4>{{2+5}}</h4>
            <h3>{{users}}</h3>
<!--angular dependencies with ui router for 1.0  -->
<script src = "https://code.angularjs.org/1.2.16/angular.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js">
            </script>
      <script src = "javascripts/Angular/controller.js"></script>
      <script src = "javascripts/Angular/service.js"></script>
     <script src = "javascripts/Angular/main.js"></script>
</body>
</html>
